*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    
   background: rgb(124, 180, 197);
    display: FLEX;
    min-height: 100vh;
}
form{
    margin: auto;
    width: 200%;
    max-width: 600px;
    background: #76e76b;
    padding:80px;
    border: 1px solid rgba(0,0,0,0.2);
} 
form button{
    width: 100%; 
    padding:15px;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.2);
    font-style: italic;
    line-height: 1.5;   
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

input{
    
    padding: 15px;
    
}

input[type="submit"]{
    opacity: 1;
}

input[time="submit"]:active{
    transform: scale(0.95);
}